* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======
}
:root{
    --padding : 8%;
    --padding2 : 4%;
    --padding3 : 2%;
    --BlueColor: #0A2357;
    --OrangeColor: #F5C34B;
    --WhiteColor: white;
    --DarkGreyColor: #ECEBEB;
    --LightGreyColor: #F4F4F4;
>>>>>>> origin/develop
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    position: fixed;
    background-color: transparent;
    padding: 15px 30px;
    width: 100vw;
<<<<<<< HEAD
=======
    z-index: 1000;
>>>>>>> origin/develop
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo .icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.brand {
=======
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo .icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.brand {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #f0c040;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-listing {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.add-listing:hover {
    background-color: #f0c040;
    border-color: #f0c040;
    color: #000;
}

.login-register a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.login-register a:hover {
    color: #f0c040;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 170px;
        text-align: center;

        background-color: #0A2357;
        
        width: 200px;
        border-radius: 8px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

/* Banner section */
.Banner_section {
    height: 100vh;
    background-image: url('./Catalogue/assets/icons/BannerImg.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.banner-text {
    max-width: 50%;
}

.banner-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.banner-text h1 span {
    color: #f0c040;
}

.banner-text p {
    margin: 20px 0;
    color: #fff;
    line-height: 1.6;
}

.bntB {
    margin-top: 20px;
    width: 73%;
    display: flex;
    flex-direction:row;
    justify-content: start; 
    align-items: center;
    gap: 20px; 
}


.btn-btn2 {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;    
    background-color: #f0c040;
    color: #000;
}


.bntB .btn-btn2:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.bntB p {
    margin-top: 10px;
    font-size: 16px;
}
/* Popular Markes Section */
.popular-markes-section {
    text-align: center;
    padding: 40px 20px;
}

.popular-markes-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.markes-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.marke {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
 
}


.marke img {
    max-width: 100%;
    max-height: 100%;
}

.car-section {
    position: relative; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 42px;

}
.car-image img {
    width: 1200px;
    border-radius: 2px;
    height:490px;
    background: no-repeat;
}

.overlay-text {
     position: absolute;
    top: 20%;
    right: 122px; 
    width: 40%;
    background-color: #002855;
    color: #fff;

    padding: 30px;
    color: white;
    border-radius: 10px;
    height: 320px;
    width:400px;
    position: absolute;

}

.overlay-text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.overlay-text p {
    color: #fff;

    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.signup-btn {
    background-color: #FFC107;
    border: none;
    color: #002855;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.stats-section {
    padding: 40px 0;
    text-align: center;
}

.container-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.stats-item {
    margin: 20px;
    flex: 1 1 30%;
    min-width: 250px;
}

.stats-item h2 {
    font-size: 48px;
    color: #333;
}

.stats-item p {
    font-size: 18px;
    color: #777;
}

.testimonials-section {
    padding: 50px 0;
    text-align: center;
}

.testimonials-section h2 {
    font-size: 36px;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .stats-item {
        margin-bottom: 40px;
    }
}
/* Testimonials Section */
.testimonials-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.testimonials-section .container-testimonials {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.testimonial-item {
    flex: 1 1 45%;
    margin: 20px;
}

.testimonial-content img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-content h3 {
    font-size: 18px;
    color: #333;
}

.testimonial-content p {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

blockquote {
    font-size: 16px;
    color: #666;
    font-style: italic;
    margin-top: 10px;
}

/* Popular Vehicles Section */
.popular-vehicles-section {
    padding: 50px 0;
    background-color: #f7c02e;
    text-align: center;
}

.popular-vehicles-section h2 {
    font-size: 36px;
    color: #333;
}

.popular-vehicles-section .price {
    font-size: 24px;
    color: #00aaff;
    margin: 10px 0;
}

.popular-vehicles-section p {
    font-size: 18px;
    color: #333;
}

.vehicle-details {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    color: #333;
}

.vehicle-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.vehicle-images img {
    width: 20%;
    transition: transform 0.3s;
}

.vehicle-images .vehicle-center {
    width: 40%;
}

.vehicle-images img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .testimonials-section .container {
        flex-direction: column;
    }

    .popular-vehicles-section .vehicle-images {
        flex-direction: column;
    }
    .img-with-opacity{
        display: none;
    }
    .vehicle-images img {
        width: 60%;
    }

    .vehicle-images .vehicle-center {
        width: 80%;
    }
}

h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
    color: #333;
}

/* Recent Articles Section */
.recent-articles-section {
    padding: 50px 0;
    background-color: #fff;
}

.articles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
}

.article-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    min-width: 300px;
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-5px);
}

.article-card img {
    width: 100%;
    height: auto;
}

.article-info {
    padding: 20px;
}

.badge {
    background-color: #001f3f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}

.meta {
    margin: 10px 0;
    color: #888;
    font-size: 14px;
}

.meta span {
    margin-right: 10px;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    color: #001f3f;
    text-decoration: none;
    font-size: 16px;
}

.read-more i {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .articles-container {
        flex-direction: column;
        align-items: center;
    }

    .article-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
.shop-cars-section {
    text-align: center;
    padding: 20px;
}


#custimase-section-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

#custimase-section-filters h1 {
>>>>>>> origin/develop
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

<<<<<<< HEAD
.nav-links {
    list-style: none;
=======
.filters {
>>>>>>> origin/develop
    display: flex;
    background-color: #e9e9e9;
    border-radius: 25px;
    padding: 5px;
}

<<<<<<< HEAD
.nav-links li a {
    text-decoration: none;
    color: #fff;
=======
.filter {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
>>>>>>> origin/develop
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

<<<<<<< HEAD
.nav-links li a:hover {
    color: #f0c040;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-listing {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.add-listing:hover {
    background-color: #f0c040;
    border-color: #f0c040;
    color: #000;
}

.login-register {
    padding-left: 20px;
}

.login-register a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.login-register a:hover {
    color: #f0c040;
}

/* Banner section */
.Banner_section {
    height: 100vh;
    background-image: url('./Catalogue/assets/icons/BannerImg.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.banner-text {
    max-width: 50%;
}

.banner-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.banner-text h1 span {
    color: #f0c040;
}

.banner-text p {
    margin: 20px 0;
    color: #fff;
    line-height: 1.6;
}

.bntB {
    margin-top: 20px;
    width: 73%;
    display: flex;
    flex-direction:row;
    justify-content: start; 
    align-items: center;
    gap: 20px; 
}


.btn-btn2 {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;    
    background-color: #f0c040;
    color: #000;
}


.bntB .btn-btn2:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.bntB p {
    margin-top: 10px;
    font-size: 16px;
}
/* Popular Markes Section */
.popular-markes-section {
    text-align: center;
    padding: 40px 20px;
}

.popular-markes-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.markes-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.marke {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
 
}

.marke img {
    max-width: 100%;
    max-height: 100%;
}

/* Cars section  */
.car-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.car-image img {
    width: 1000px;
    border-radius: 10px;
    height:326px;
}

.overlay-text {
    width: 40%;
    background-color: #002855;
    padding: 30px;
    color: white;
    border-radius: 10px;
    z-index:1;
}

.overlay-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.overlay-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.signup-btn {
    background-color: #FFC107;
    border: none;
    color: #002855;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


=======
.filter.active {
    background-color: white;
    color: black;
}

.filter.active:hover {
    background-color: white; 
} 


.shop-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.shop-car-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 250px;
    text-align: left;
}

.shop-car-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.shop-stars {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.shop-stars img {
    width: 16px;
    height: 16px;
}

.part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p sub {
    text-decoration: line-through;
    color: #888;
}

.price h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}

.add-to-cart {
    background-color: #f5c24b72;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.add-to-cart:hover {
    background-color: #f0b429;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
    }

    .shop-car-card {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .shop-cards {
        grid-template-columns: 1fr;
    }

    .shop-car-card {
        width: 100%;
    }
}
.ard-section-shop-cars{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
>>>>>>> origin/develop
