*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --padding : 8%;
    --padding2 : 4%;
    --padding3 : 2%;
    --BlueColor: #0A2357;
    --OrangeColor: #F5C34B;
    --WhiteColor: white;
    --DarkGreyColor: #ECEBEB;
    --LightGreyColor: #F4F4F4;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--DarkGreyColor);
}
/* HOME */
header nav{
    display: flex;
    justify-content: space-between;
    padding: var(--padding3);
    align-items: center;
}

header nav img{
    height: 32px;
    width: 50px;
    cursor: pointer;
}

.shop{
    padding: var(--padding3);
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.shop .shop_sous-title{
    display: flex;
    justify-content: space-between;
}


.shop .shop_sous-title p{
    font-size: small;
}

.shop .shop_recent-posts{
    display: flex;
    row-gap: 30px;
    background-color: var(--WhiteColor);
    padding: var(--padding);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding);
    border-radius: 5px;
}

.shop .shop_recent-posts img{
    height: 60px;
    width: 120px;
}

.shop .shop_recent-posts div{
    display: flex;
    gap: 10px;
}

.shop .shop_recent-posts div div{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.side-bar{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 400px;
}

.side-bar .shop_categories{
    background-color: var(--WhiteColor);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    color: rgb(61, 61, 61);
    row-gap: 20px;
    border-radius: 5px;
}

.side-bar .shop_categories a{
    color: rgb(133, 133, 133);
}

.shop-main{
    display: flex;
    column-gap: 20px;
    height: auto;
}

.shop_cars-catalogue{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
}

.shop_cars-catalogue-card{
    background-color: var(--WhiteColor);
    height: 300px;
    width: 250px;
    border-radius: 5px;
    padding: var(--padding3);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.shop_cars-catalogue-card img{
    height: 100px;
    width: 200px;
}

.shop_cars-catalogue-card .part-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop_cars-catalogue-card .part-2 div{
    display: flex;
    column-gap: 10px;
}

.shop_cars-catalogue-card div img{
    height: 25px;
    width: 25px;
}


.shop_cars-catalogue-card div div{
    display: flex;
}


.shop_cars-catalogue-card .part-2 div:nth-child(2){
    background-color: #f5c24b72;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.shop_cars-catalogue-card .part-2 div:nth-child(2):hover{
    background-color: var(--OrangeColor);
    transform: scale(1.1);
}

.shop_cars-catalogue-card .shop_stars{
    display: flex;
    column-gap: 5px;
}


@media only screen and (max-width: 600px) {
    
}


/* FOOTER */
footer {
    color: var(--WhiteColor);
    background-color: var(--BlueColor);
    height: 50vh;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.footer-firstElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding3);
}

.footer-firstElement ul li{
    display: inline-block;
}

.footer-firstElement ul li a{
    color: var(--WhiteColor);
    padding-right: 30px;
}

.footer-secondElement{
    display: flex;
    padding: var(--padding3);
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.secondElement{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.secondElement input{
    padding: 12px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;
}

.thirdElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 200px;
}

footer p{
    color: var(--LightGreyColor);
    line-height: 30px;
    font-size: small;
}

.footer-thirdElement-icon{
    height: 24px;
    width: 24px;
}

.footer-thirdElement-icons{
    display: flex;
    column-gap: 30px;
}

@media only screen and (max-width: 600px) {
    footer{
        height: auto;
    }
    .footer-firstElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        padding: var(--padding2);
    }

    .secondElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .footer-secondElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: var(--padding2);
    }
    .thirdElement{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }
}