*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --padding : 8%;
    --padding2 : 4%;
    --padding3 : 2%;
    --BlueColor: #0A2357;
    --OrangeColor: #F5C34B;
    --WhiteColor: white;
    --DarkGreyColor: #ECEBEB;
    --LightGreyColor: #F4F4F4;
    --OrchidColor: #F0ECF4;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--OrchidColor);
}

/* Personalisation */
header nav{
    display: flex;
    justify-content: space-between;
    padding: var(--padding3);
    align-items: center;
}

header nav img{
    height: 32px;
    width: 50px;
    cursor: pointer;
}

.personalisation{
    padding: var(--padding3);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 70px;
}

.personalisation_main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personalisation_main .personalisation_left-side img{
    min-width: 200px;
}

.personalisation_main .personalisation_left-side .personalisation_car{
    background-color: white;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.personalisation_main .personalisation_left-side{
    row-gap: 30px;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.personalisation_main .personalisation_right-side{
    padding: var(--padding2);
    height: auto;
    background-color: var(--WhiteColor);
    margin-top: 58px;
    width: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
}

.personalisation_right-side .palette {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; 
}

.personalisation_main .personalisation_right-side div h4{
    padding: 20px;
    background-color: var(--DarkGreyColor);
    margin-bottom: 10px;
    border-radius: 5px;
}

.personalisation_right-side .personalisation-color {
    width: 48%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.personalisation_right-side .personalisation-color div {
    height: 50px; 
    width: 100%;
    border-radius: 5px; 
    background: red; 
    margin-bottom: 5px; 
    border: 1px solid black;
}

.personalisation_right-side .personalisation-color img{
    height: 160px;
    width: 160px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}


@media only screen and (max-width: 600px) {
    .personalisation_main{
        flex-direction: column;
    }

    .personalisation_main .personalisation_right-side{
        width: 100%;
    } 

    .personalisation_main .personalisation_left-side{
        width: 100%;
    }
}







/* FOOTER */
footer {
    color: var(--WhiteColor);
    background-color: var(--BlueColor);
    height: 50vh;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.footer-firstElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding3);
}

.footer-firstElement ul li{
    display: inline-block;
}

.footer-firstElement ul li a{
    color: var(--WhiteColor);
    padding-right: 30px;
}

.footer-secondElement{
    display: flex;
    padding: var(--padding3);
    padding-bottom: 0;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.secondElement{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.secondElement input{
    padding: 12px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;
}

.thirdElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 200px;
}

footer p{
    color: var(--LightGreyColor);
    line-height: 30px;
    font-size: small;
}

.footer-thirdElement-icon{
    height: 24px;
    width: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.footer-thirdElement-icons{
    display: flex;
    column-gap: 30px;
}

.footer-thirdElement-icon:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    footer{
        height: auto;
    }
    .footer-firstElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        padding: var(--padding2);
    }

    .secondElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .footer-secondElement{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: var(--padding2);
    }
    .thirdElement{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }
}